* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #0d1a3d, #001133);
  color: white;
  height: 100vh;
  overflow: hidden;
}

/* NAVIGATION BAR */
.topbar {
    background-color: #112752;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.logo img {
    height: 90px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 0.7rem 1.8rem;
    border: none;
    border-radius: 6px;
    font-weight: 790;
    cursor: pointer;
    font-size: 0.9rem;
}

.login {
    background: #fff;
    color: #0a2240;
}

.signup {
    background: #d9a441;
    color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150%;
  height: 70%;
}

.right-panel {
  flex: 1;
  background-color: #b3883b;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content : center;
  box-shadow: -100px 0 1000px rgba(0, 0, 0, 1);
}

.form {
  width: 100%;
  color: white;
}

h2 {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 32px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 15px;
  outline: none;
}

::placeholder {
  color: #e0e0e0;
}

.password-group {
  display: flex;
  align-items: center;
}

.password-group input {
  flex: 1;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px; 
  height: 24px; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  background-color: #0d1a3d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 25px;
}

.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  background: white;
  position: absolute;
  top: 50%;
  width: 40%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
}

.social-icons img {
  width: 60px;
  height: 32px;
  cursor: pointer;
}

.footer {
  text-align: center;
  color: #f0f0f0;
  font-size: 0.9em;
  margin-top: 15px;
}